# MongoDB connection URL
MONGO_URI="mongodb://app_backend:app_password@localhost:27017/db_todoapp?authSource=db_todoapp"

# Redis connection URL
REDIS_URL="redis://:admin_pwd@localhost:6379"

# Server port (optional, defaults to 3000)
# PORT=3000
